<div class="card-deck mb-3 ">
  
  <%= render "posts/views" %>

  <%= render "posts/views" %>

  <%= render "posts/views" %>

</div>

<div class="card-deck mb-3 ">

  <%= render "posts/views" %>

  <%= render "posts/views" %>

  <%= render "posts/views" %>

</div>
