<!DOCTYPE html>
<html>
  <head>
    <title>TechBlogRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "shared/signed_in" %>
    <% else %>
      <%= render "shared/not_signed_in" %>
    <% end %>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
